html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  text-decoration: none;
  list-style: none; }

.layout {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .layout {
      max-width: 800px;
      min-width: 530px; } }
  @media (min-width: 768px) {
    .layout {
      padding: 0 30px;
      min-width: 900px;
      max-width: 1024px; } }

@media (min-width: 768px) {
  .formset {
    padding-right: 373px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .layout__block--clear {
    margin-left: 150px; } }

@media (min-width: 768px) {
  .layout__block--clear {
    position: absolute;
    width: 343px;
    height: 100%;
    top: 0;
    right: 30px; } }

.comp__style {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px;
  margin: 6px 0 12px 0;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .comp__style {
      height: 100%;
      -ms-flex-pack: center;
          justify-content: center; } }

.comp__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }
  @media (min-width: 480px) and (max-width: 767px) {
    .comp__title {
      font-size: 16px; } }
  @media (min-width: 768px) {
    .comp__title {
      position: absolute;
      top: 50px;
      font-size: 18px; } }

.comp__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.comp__label {
  display: block;
  width: 137px;
  height: 52px; }

@media (min-width: 480px) and (max-width: 767px) {
  .submission {
    margin-left: 150px; } }

@media (min-width: 768px) {
  .submission {
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 373px; } }

.block__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
  font-size: 20px;
  padding: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    .block__title {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 24px; } }
  @media (min-width: 768px) {
    .block__title {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 24px; } }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 5px;
  padding-bottom: 5px; }
  .grid__row:first-child {
    padding-top: 0; }
  .grid__row:last-child {
    padding-bottom: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    .grid__row {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  @media (min-width: 768px) {
    .grid__row {
      padding-top: 10px;
      padding-bottom: 10px;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

@media (min-width: 768px) {
  .grid__row .grid__row {
    margin-left: -30px; } }

.grid__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  padding-left: 10px;
  padding-bottom: 6px; }
  .grid__col:first-child {
    padding-bottom: 6px;
    font-weight: bold; }
  @media (min-width: 480px) and (max-width: 767px) {
    .grid__col {
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .grid__col {
      padding-left: 15px; } }

.grid__col:nth-child(3n+1) {
  padding-left: 0; }

.grid__col:nth-child(2n+2) {
  padding-left: 0; }

.grid__col--fixed {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-right: 15px; }
  @media (min-width: 480px) and (max-width: 767px) {
    .grid__col--fixed {
      -ms-flex-pack: end;
          justify-content: flex-end;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px; } }
  @media (min-width: 768px) {
    .grid__col--fixed {
      -ms-flex-pack: end;
          justify-content: flex-end;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px; } }

.align--left {
  width: auto;
  margin-right: 0;
  -ms-flex: 0;
      flex: 0;
  text-align: left; }

.absolute {
  position: absolute;
  width: 70%;
  top: -55px;
  right: 15%; }
  @media (min-width: 480px) and (max-width: 767px) {
    .absolute {
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
      width: auto;
      position: relative;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; } }
  @media (min-width: 768px) {
    .absolute {
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
      width: auto;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; } }

.list {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.list__item {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%; }

.item__content {
  display: block;
  margin: 0 auto;
  height: 30px; }

[type="text"],
[type="tel"],
[type="submit"] {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%; }

::-webkit-input-placeholder {
  color: #888888; }

:-ms-input-placeholder {
  color: #888888; }

::placeholder {
  color: #888888; }

.fill, .dropdown {
  height: 32px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2); }

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  display: inline-block;
  min-width: 64px;
  background-image: url(./assets/icons/select-arrow.svg);
  background-size: 9px 5px;
  background-position: 90% center;
  background-repeat: no-repeat; }

.btn {
  cursor: pointer;
  width: 100%;
  padding: 13px 20px;
  text-decoration: none;
  border: 1px solid; }

.btn--rc {
  border-radius: 3px; }

.btn--submit {
  font-weight: bold;
  color: #ffffff;
  border-color: #fd7722;
  background: #FF9000;
  background-image: linear-gradient(to bottom, #FF9000, #fd7722);
  transition: all 0.15s ease-in-out; }
  .btn--submit:hover {
    background: #FF9000; }
  .btn--submit:active {
    background: #fd7722; }

.valid {
  border: 1px solid mediumseagreen;
  color: mediumseagreen;
  font-size: 12px;
  background-color: rgba(60, 179, 113, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: ease 0.25s; }

/*# sourceMappingURL=style.css.map */
