include components/global-ui/g-header/_g-header
include components/hero-section/mixins/_mixin
include components/payplan-section/_payplan-section
include components/payplan-section/plancard/_plancard
include components/product-section/_product-section
include components/product-section/product-grid/_product-grid
include components/product-section/product-grid/_product-grid__cell
include components/product-section/product-card/_product-card
include components/global-ui/g-link/_block-link


doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css', rel='stylesheet')
    link(href='/css/reset.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    title Super Deal

  body
    +g-header

    +hero

    +payplan-section
      +plancard('option-1')
      +plancard('option-2')

    +product-section
      +product-grid

        +product-grid__cell('fraction-1/2')
          +product-card('#')(style={'background-image': 'url(img/product-img/id-0002.jpeg)'})
            div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequat

        +product-grid__cell('fraction-1/2')
          +product-card('#')(style={'background-image': 'url(img/product-img/id-0001.jpg)'})
            div Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        +product-grid__cell('fraction-1/2')
          +product-card('#')(style={'background-image': 'url(https://unsplash.it/500/500)'})
            div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur distinctio ducimus enim id, itaque laudantium nemo officia

        +product-grid__cell('fraction-1/2')
          +product-card('#')(style={'background-image': 'url(https://unsplash.it/600/600)'})
            div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur distinctio ducimus enim id, itaque