@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #7f7f7f;
  margin: 0;
  padding: 0; }

.popup {
  margin: 0 auto;
  margin-top: 44px;
  max-width: 750px;
  min-height: 580px;
  border-radius: 3px;
  background-color: #f8f8f8;
  overflow: hidden;
  box-shadow: 0 2px 13px 0 #444444; }

.popup__def {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 60px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #dddddd; }

.def__tag {
  margin-left: 20px; }

.def {
  padding-left: 12px;
  font-size: 20px;
  color: #343434; }

.def--iconic::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(/);
  background-size: cover; }

.popup__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 20px; }

.popup__dismiss {
  position: relative;
  width: 11px;
  height: 11px;
  margin-right: 20px;
  margin-left: auto;
  overflow: hidden;
  cursor: pointer; }
  .popup__dismiss:hover::before, .popup__dismiss:hover::after {
    background: #cccccc; }
  .popup__dismiss::before, .popup__dismiss::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #666666; }
  .popup__dismiss::before {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .popup__dismiss::after {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.component {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 16px 20px 16px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -ms-flex: 1 1 calc(50% - 10px);
      flex: 1 1 calc(50% - 10px);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px; }

.component--hide {
  display: none; }

.component__extnd {
  -ms-flex: 0 1 100%;
      flex: 0 1 100%; }

.component__title, .signup__title {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }

.component__desc {
  font-size: 13px;
  line-height: 17px; }

.component__tag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 44px;
      flex: 0 0 44px;
  margin: auto 20px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.signup__tag {
  -ms-flex: 0 0 44px;
      flex: 0 0 44px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

.signup__title {
  text-align: center;
  margin: 0 auto;
  padding-top: 6px; }

.component__def {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.component__text {
  font-size: 13px;
  line-height: 17px;
  color: #666666; }

.component__result {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  margin: 0;
  padding: 0;
  height: 71px;
  width: 173px;
  -ms-flex-pack: center;
      justify-content: center; }

.component__mark {
  -ms-transform-origin: 50% 200%;
      transform-origin: 50% 200%;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  box-sizing: content-box;
  position: absolute;
  top: -3px;
  left: -3px;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 20px solid #FF9000;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 40px; }
  .component__mark::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    top: 20px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fd7722; }
  .component__mark::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    bottom: -23px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fd7722; }

[type="text"],
[type="tel"],
[type="submit"] {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%; }

.fill {
  height: 32px;
  width: 264px;
  font-size: 14px;
  color: #444444;
  padding: 0 10px;
  margin-right: 3px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(68, 68, 68, 0.2); }

.btn {
  cursor: pointer;
  width: auto;
  height: 32px;
  padding: 0 34px;
  text-decoration: none;
  border: 1px solid; }

.btn--rc {
  border-radius: 3px; }

.btn--submit {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  border-color: #fd7722;
  background: #FF9000;
  background-image: linear-gradient(to bottom, #FF9000, #fd7722);
  transition: all 0.15s ease-in-out; }
  .btn--submit:hover {
    background: #FF9000; }
  .btn--submit:active {
    background: #fd7722; }

@media only screen and (max-width: 767px) {
  .def__tag,
  .def__extender,
  .component__signup {
    display: none; }
  .component--hide {
    display: -ms-flexbox;
    display: flex; }
  .popup {
    position: relative;
    background-color: #ffffff;
    border-radius: 0;
    margin-top: 0;
    max-width: 500px; }
  .popup__content {
    margin: 0; }
  .popup__def {
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 15px; }
  .def {
    font-size: 18px;
    margin: auto; }
  .popup__dismiss {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer; }
    .popup__dismiss:hover::before, .popup__dismiss:hover::after {
      background: #cccccc; }
    .popup__dismiss::before, .popup__dismiss::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #666666; }
    .popup__dismiss::before {
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .popup__dismiss::after {
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  .component {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: 15px;
    margin-right: 15px; } }

/*# sourceMappingURL=style.css.map */
