mixin plancard(options)
  case options

    when 'option-1'
      .plancard
        .plancard__icon
          img(src='img/plant.svg')
        .plancard__title Great option
        .plancard__price
          sup $&nbsp;
          span 9.99
          span /month

        .plancard__desc
          ul.plancard-desc__list
            li.plancard-desc__item It has this cool feature
            li.plancard-desc__item.is-disabled And packs another great one

        .plancard__action
          button.g-btn.active I'll go with
            span  Great option

    when 'option-2'
      .plancard
        .plancard__icon
          img(src='img/leaf.svg')
        .plancard__title The best option
        .plancard__price
          sup $&nbsp;
          span 11.99
          span /month

        .plancard__desc
          ul.plancard-desc__list
            li.plancard-desc__item It has this cool feature
            li.plancard-desc__item And packs another great one

        .plancard__action
          button.g-btn I'll go with
              span  The best option