@charset "UTF-8";
@import url("https://fontlibrary.org/face/miama-nueva");
html, body, ul, ol, h1, h2, h3, h4, p, section {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box; }

body {
  font-family: 'MiamaNuevaMedium';
  font-weight: normal;
  font-style: italic; }

img {
  display: block;
  max-width: 100%; }

.hero__title h1 {
  font-size: 28px; }

.title {
  font-size: 20px;
  line-height: 3; }

.text {
  font-size: 14px;
  line-height: 2; }

.signature {
  text-align: right; }

.wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fff; }

.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(/img/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 50%; }

.hero__title {
  -ms-flex-item-align: center;
      align-self: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
  margin-top: 144px;
  padding: 36px 24px;
  color: #000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 21px 55px -10px rgba(0, 0, 0, 0.6);
  transition: all 1s ease; }

.hero__title span {
  position: relative;
  left: 0;
  font-size: 80%;
  margin-left: -50px; }

.hero__title span:after {
  content: '〰〰';
  position: absolute;
  right: 56px;
  bottom: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  color: #9370DB;
  z-index: 1; }

.desc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.desc__item {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  position: relative;
  background-color: #fff;
  z-index: 1; }

.desc__item:nth-child(even) {
  background-color: #f9f6fd; }

.desc__item:nth-child(even) .desc__text {
  background-color: #f9f6fd; }

.desc__text {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 24px 24px 18px 24px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 55px 55px -55px rgba(0, 0, 0, 0.6); }

.desc__text:after {
  content: '〰〰';
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #9370DB; }

.desc__text:last-child:after {
  content: ''; }

.desc__media {
  padding: 0 24px 24px; }

.desc__media img {
  max-width: 100%; }

.desc__media img + img {
  margin-top: 18px; }

.desc__media img:last-child {
  margin-bottom: 18px; }

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  width: 100%; }

.contact__title {
  background-color: #9370DB;
  -ms-flex: 1 1 30%;
      flex: 1 1 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0 25px 120px -20px rgba(62, 6, 148, 0.8), 0 22px 20px -25px rgba(0, 0, 0, 0.8); }

.contact__avatar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin: 0 auto;
  width: 50%;
  border-radius: 50%;
  overflow: hidden; }

.contact__avatar:before {
  display: block;
  content: '';
  width: 100%;
  margin-top: 100%; }

.contact__avatar img {
  position: absolute;
  height: 100%;
  max-width: none;
  top: 0; }

.contact__content {
  -ms-flex: 1 1 70%;
      flex: 1 1 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: black; }

/*# sourceMappingURL=all.css.map */
