@import url("https://fonts.googleapis.com/css?family=Oswald:300|Roboto:400,500,700");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 14px; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset */
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Button Controls */
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* Search Input */
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  width: auto; }

/* Textarea */
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

.icon {
  width: 35px;
  height: 35px; }
  .icon--find {
    position: absolute;
    content: url("./img/icon_search.svg");
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 9px; }
  .icon--arrow {
    position: relative;
    content: url("./img/icon_arrow.png");
    width: 7px;
    height: 4px;
    margin-left: 10px;
    margin-top: 3px;
    transition: transform .25s; }

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; }

.content-wrapper {
  max-width: 960px; }

.content__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px; }

.content__subtitle {
  font-size: 15px;
  margin-bottom: 32px;
  color: #666666; }

.tabbed-menu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  .tabbed-menu__title {
    flex: 1 1 100%;
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff; }

.tab__wrapper {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px; }
  .tab__wrapper.is-active .tab {
    background-color: #f4f4f4;
    border-radius: 0;
    border-bottom: 1px solid #cccccc; }
    .tab__wrapper.is-active .tab:first-child {
      border-radius: 5px 0 0 0; }
    .tab__wrapper.is-active .tab:hover {
      background-color: #fafafa; }
    .tab__wrapper.is-active .tab.is-current {
      background-color: #fff;
      border-bottom: 0;
      pointer-events: none; }
      .tab__wrapper.is-active .tab.is-current .icon.icon--arrow {
        transform: rotate(180deg);
        transition: transform .25s; }
      .tab__wrapper.is-active .tab.is-current:hover {
        background-color: #fff; }
  .tab__wrapper.is-active .tab__content {
    display: flex;
    transition: opacity .25s;
    opacity: 1; }
  .tab__wrapper.is-active .btn--main {
    border-radius: 0 5px 0 0; }

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 0 10px;
  height: 60px;
  border: 0;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all .25s; }
  .tab span::first-letter {
    text-transform: uppercase; }
  .tab:hover {
    background-color: #fafafa;
    transition: all .25s; }
  .tab + .tab {
    border-radius: 0;
    border-left: 1px solid #cccccc; }
  .tab + .btn--filter {
    width: 160px;
    border-radius: 0 5px 5px 0; }

.tab__content {
  flex: 1 1 100%;
  display: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 100px;
  padding: 30px 40px 44px;
  background-color: #fff;
  transition: opacity .25s;
  border-radius: 0 0 5px 5px;
  z-index: 1; }
  .tab__content.is-revealed {
    display: flex;
    opacity: 1; }

.filter-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.filter__heading {
  flex: 1 1 100%;
  display: flex;
  align-items: center; }

.filter-category {
  margin-right: 10px;
  font-size: 16px;
  color: #9933CC; }

.filter__collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 120px; }

.filter-item {
  display: flex;
  padding: 8px 21px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 24px;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #cccccc;
  color: #333333; }
  .filter-item:hover {
    border-color: #9933CC;
    color: #9933CC; }
  .filter-item.is-selected {
    color: #fff;
    background-color: #9933CC; }
    .filter-item.is-selected:hover {
      background-color: #B040E8; }

.service-link {
  padding: 4px 10px;
  font-size: 13px;
  color: #333333; }
  .service-link:hover {
    color: #f59e1c; }
  .service-link--more {
    margin-top: 15px; }

.js-close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.js-close:hover:before,
.js-close:hover:after {
  background-color: #f59e1c;
  transition: all .25s; }

.js-close:before, .js-close:after {
  position: absolute;
  left: 11px;
  top: -3px;
  content: '';
  height: 30px;
  width: 2px;
  background-color: #cccccc;
  transition: all .25s; }

.js-close:before {
  transform: rotate(45deg); }

.js-close:after {
  transform: rotate(-45deg); }

.filter-block {
  display: flex;
  position: relative;
  flex: 1 1 100%;
  justify-content: center;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px); }

.filter-block__dimmer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .filter-block__dimmer.is-dimmed {
    display: block; }

.filter-block__inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 960px; }

.banner {
  position: relative;
  width: 100%;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  background-image: url("./img/bg_hero.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2; }
  .banner .filter-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1; }

.banner__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  flex: 1 1 100%;
  font-size: 46px;
  color: #ffcc00;
  text-shadow: 0 0 4px #070606; }

.banner__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 4px #070606; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto; }

.grid__row {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  margin: -10px -10px; }

.grid__column {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 10px; }
  .grid__column.fr-2 {
    flex-basis: 50%;
    max-width: 50%; }
  .grid__column.fr-3 {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3); }
  .grid__column.fr-4 {
    flex-basis: 25%;
    max-width: 25%; }
  .grid__column.fr-1 {
    flex-basis: 100%;
    max-width: 100%; }
  @media screen and (max-width: 781px) {
    .grid__column.fr-pda-2 {
      flex-basis: 50%;
      max-width: 50%; } }
  @media screen and (max-width: 480px) {
    .grid__column.fr-ml-1 {
      flex-basis: 100%;
      max-width: 100%; }
    .grid__column.fr-ml-2 {
      flex-basis: 50%;
      max-width: 50%; } }

.card {
  display: flex;
  position: relative;
  height: 260px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(2, 2, 2, 0.08);
  transition: all .25s; }
  .card:hover {
    box-shadow: 0 0 18px rgba(2, 2, 2, 0.32);
    transition: all .25s; }
    .card:hover img {
      transform: scale(1.05);
      transition: all .25s; }

.card__img {
  position: relative;
  flex: 2 1 auto;
  display: flex;
  background-color: #cccccc;
  overflow: hidden;
  border-radius: 10px 10px 0 0; }
  .card__img img {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    transition: all .25s; }

.price-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 18px;
  height: 38px;
  padding: 9px 16px;
  border-radius: 0 10px 10px 0;
  background-color: #ffcc00; }
  .price-label b {
    font-weight: bold;
    padding: 2px; }

.card__content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 12px 15px;
  background-color: #fff;
  border-radius: 0 0 10px 10px; }
  .card__content .card-category {
    flex: 1 1 100%;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px; }
    .card__content .card-category--shoping {
      color: #cc0099; }
    .card__content .card-category--inctitutions {
      color: #3466fe; }
    .card__content .card-category--transport {
      color: #0099cc; }
    .card__content .card-category--food {
      color: #009900; }
    .card__content .card-category--apartments {
      color: #cc6600; }
    .card__content .card-category--events {
      color: #9900cc; }
    .card__content .card-category--entertainment {
      color: #cc3300; }
    .card__content .card-category--tours {
      color: #cc9900; }
  .card__content .card-name {
    flex: 1 1 100%;
    font-size: 14px; }
  .card__content .card-adress {
    flex: 1 1 100%;
    font-size: 13px;
    color: #999999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.content--cards {
  background-color: #f1f1f1;
  padding-bottom: 54px;
  padding-top: 34px; }

.global-dimmer {
  position: absolute;
  display: none;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .25s; }
  .global-dimmer.is-active {
    display: block;
    opacity: 1;
    transition: all .25s; }

body.stop-scroll {
  overflow: hidden; }

.input {
  position: relative;
  height: 35px;
  padding: 0 50px 0 12px;
  border-radius: 5px;
  border: 1px solid #cccccc; }
  .input::placeholder {
    color: #cccccc; }
  .input:active, .input:focus {
    border-color: #00AAE3;
    box-shadow: 0 0 6px rgba(0, 170, 227, 0.29); }
  .input:focus + .btn--search {
    background-color: #00AAE3; }

.select {
  position: relative;
  height: 35px;
  padding: 0 2px 0 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #fff; }
  .select--lang {
    width: 60px; }
  .select:focus, .select:active {
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.29);
    outline: none; }

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer; }
  .btn:focus {
    outline: 0;
    opacity: 1; }
  .btn--right {
    right: 0; }

.btn--search {
  width: 35px;
  height: 35px;
  border-radius: 0 5px 5px 0;
  background-color: #999999; }
  .btn--search:hover {
    opacity: .85; }

.btn--main {
  height: 60px;
  font-size: 22px;
  background-color: #f59e1c;
  color: #fff; }
  .btn--main:hover {
    background-color: #ffb445; }

.btn--promo {
  padding: 11px 33px;
  border-radius: 35px;
  border: 2px solid;
  text-decoration: none; }

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-bar .input-group {
    position: relative;
    display: flex;
    border-radius: 5px; }
    .search-bar .input-group .btn--search {
      position: absolute;
      border: 0 5px 5px 0; }
  .search-bar .input-group + .input-group {
    margin-left: 20px; }
  .search-bar .input--search {
    min-width: 265px;
    border-radius: 5px; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 2; }

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px; }
  .header__content .logo {
    display: flex;
    align-items: center; }
    .header__content .logo img {
      display: block;
      width: 100%; }
  .header__content .header__actions {
    position: relative;
    display: flex; }

.footer {
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: #121212;
  z-index: 1; }

.footer__content {
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 0;
  display: flex;
  max-width: 960px;
  padding: 10px;
  font-size: 14px;
  color: #DADADA; }

.footer__head {
  display: flex; }
  .footer__head + .footer__text {
    margin-top: 28px; }

.footer__text + .footer__copyright {
  margin-top: 16px; }

.content__title {
  margin-top: 30px; }
  .content__title + .grid--promo {
    margin-top: 28px; }

.grid--promo {
  margin-bottom: 44px; }
  .grid--promo .grid__row {
    margin: 0;
    border-radius: 10px;
    overflow: hidden; }
  .grid--promo .grid__column {
    padding: 0;
    position: relative;
    background: tomato;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    height: auto; }
    .grid--promo .grid__column:before {
      content: '';
      float: left;
      min-width: 235px;
      padding-top: 100%; }

.promo__action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .promo__action .promo-title {
    flex: 1 1 100%;
    font-size: 20px;
    padding: 0 15px;
    word-break: break-word; }
    .promo__action .promo-title + .btn--promo {
      opacity: 0;
      z-index: 99;
      margin-top: 20px;
      font-size: 15px;
      transition: all .25s; }

.promo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121212; }
  .promo-block img {
    position: absolute;
    display: block;
    width: 130%;
    top: 0;
    left: 0;
    pointer-events: none; }
  .promo-block--transport img {
    z-index: 8; }
  .promo-block--transport .promo__action {
    z-index: 9; }
  .promo-block--transport:hover .btn--promo {
    border-color: #0099cc;
    opacity: 1;
    color: #fff; }
    .promo-block--transport:hover .btn--promo:hover {
      background-color: #0099cc; }
  .promo-block--transport:hover img {
    opacity: .25; }
  .promo-block--apartments img {
    z-index: 7; }
  .promo-block--apartments .promo__action {
    z-index: 8; }
  .promo-block--apartments:hover .btn--promo {
    border-color: #cc6600;
    opacity: 1;
    color: #fff; }
    .promo-block--apartments:hover .btn--promo:hover {
      background-color: #cc6600; }
  .promo-block--apartments:hover img {
    opacity: .25; }
  .promo-block--places img {
    z-index: 6; }
  .promo-block--places .promo__action {
    z-index: 7; }
  .promo-block--places:hover .btn--promo {
    border-color: #cc9900;
    opacity: 1;
    color: #fff; }
    .promo-block--places:hover .btn--promo:hover {
      background-color: #cc9900; }
  .promo-block--places:hover img {
    opacity: .25; }
  .promo-block--entertainment img {
    z-index: 5;
    width: 100%; }
  .promo-block--entertainment .promo__action {
    z-index: 6; }
  .promo-block--entertainment:hover .btn--promo {
    border-color: #cc3300;
    opacity: 1;
    color: #fff; }
    .promo-block--entertainment:hover .btn--promo:hover {
      background-color: #cc3300; }
  .promo-block--entertainment:hover img {
    opacity: .25; }
  .promo-block--events img {
    z-index: 4;
    width: 100%; }
  .promo-block--events .promo__action {
    z-index: 5; }
  .promo-block--events:hover .btn--promo {
    border-color: #9900cc;
    opacity: 1;
    color: #fff; }
    .promo-block--events:hover .btn--promo:hover {
      background-color: #9900cc; }
  .promo-block--events:hover img {
    opacity: .25; }
  .promo-block--shopping img {
    z-index: 4;
    left: unset;
    top: unset;
    right: 0;
    bottom: 0; }
  .promo-block--shopping .promo__action {
    z-index: 5; }
  .promo-block--shopping:hover .btn--promo {
    border-color: #cc0099;
    opacity: 1;
    color: #fff; }
    .promo-block--shopping:hover .btn--promo:hover {
      background-color: #cc0099; }
  .promo-block--shopping:hover img {
    opacity: .25; }
  .promo-block--food img {
    z-index: 4;
    left: unset;
    top: unset;
    right: 0;
    bottom: 0; }
  .promo-block--food .promo__action {
    z-index: 6; }
  .promo-block--food:hover .btn--promo {
    border-color: #009900;
    opacity: 1;
    color: #fff; }
    .promo-block--food:hover .btn--promo:hover {
      background-color: #009900; }
  .promo-block--food:hover img {
    opacity: .25; }
  .promo-block--inctitutions img {
    z-index: 5;
    left: unset;
    top: unset;
    right: 0;
    bottom: 0; }
  .promo-block--inctitutions .promo__action {
    z-index: 7; }
  .promo-block--inctitutions:hover .btn--promo {
    border-color: #3466fe;
    opacity: 1;
    color: #fff; }
    .promo-block--inctitutions:hover .btn--promo:hover {
      background-color: #3466fe; }
  .promo-block--inctitutions:hover img {
    opacity: .25; }
  .promo-block:after {
    content: url("../../img/puzzle.svg");
    position: absolute;
    right: -72px;
    display: block;
    width: 72px;
    z-index: 1; }

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.global-wrapper {
  height: 100%; }

.footer {
  margin: auto 0 0; }
