@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #000c0e; }

p {
  line-height: 28px; }

h1 {
  line-height: 130%; }

a {
  color: seagreen;
  text-decoration: none; }

.link {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 40px 40px;
  text-align: center;
  color: #fff;
  background-color: #000c0e; }

.section__map {
  padding: 0; }

.section--row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 40px 40px;
  text-align: center;
  color: #fff;
  background-color: #000c0e; }

.section__divider {
  position: relative;
  margin: 0 auto;
  height: 10px;
  width: 20%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.hero {
  height: 100vh;
  min-height: 700px;
  padding: 0;
  background-color: #999;
  background: url("../assets/img/hero__bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  @media screen and (max-width: 480px) {
    .hero {
      min-height: auto; } }
  .hero::after {
    position: absolute;
    min-height: 700px;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 12, 14, 0.75); }

.hero__contact {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 1.7rem; }
  @media screen and (max-width: 480px) {
    .hero__contact {
      font-size: 1.2rem; } }

.hero__logo {
  width: 50%; }
  @media screen and (max-width: 640px) {
    .hero__logo {
      width: 80%; } }

.hero > * {
  z-index: 1; }

.hero__title {
  max-width: 80%; }
  @media screen and (max-width: 640px) {
    .hero__title {
      font-size: small; } }

.list {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px; }

.list__column {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 5px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.05); }
  @media screen and (max-width: 480px) {
    .list__column {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      .list__column .list__item {
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }

.list--decorated::before {
  content: '';
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; }

.list--decorated::after {
  content: '';
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; }

.list__item {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 5px 40px; }
  .list__item img {
    max-height: 100px; }
  @media screen and (max-width: 480px) {
    .list__item {
      margin: 20px; }
      .list__item img {
        max-height: 50px; } }

#map {
  width: 100%;
  height: 500px;
  background-color: grey; }

/*# sourceMappingURL=style.css.map */
